/* Base Styles */
:root {
  font-size: 10px;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", Arial, sans-serif;
  background-color: #fafafa;
  color: #262626;
  min-height: 100vh;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  max-width: 50rem;
  margin: auto;
  padding: 0 2rem;
}

/* The Profile Section */

.profile {
  display: inline-block;
  width: 400px;
  padding: 1rem 0;
}

.profile-image img {
  float: left;
  width: 180px;
  height: 180px;
  margin-left: -100px;
  border-radius: 50%;
  border: 5px solid rgb(44, 116, 44);
}
.profile-user-name {
  display: inline-block;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.profile-stats ul {
  list-style: none;
  padding: 0;
  font-size: 1.2rem;
  cursor: default;
}
.profile-user-settings {
  display: inline-block;
  margin: 2rem 0.5rem;
}
.profile-edit-btn {
  border: none;
  padding: 6px 5px;
  border-radius: 4px;
  background-color: inherit;
  margin-left: 4px;
}
.profile-settings-btn {
  border: none;
  background-color: inherit;
  border-radius: 4px;
}
button:hover {
  outline: 1px solid rgb(202, 202, 202);
  cursor: pointer;
}
.profile-stats li {
  display: inline-block;
  width: fit-content;
  cursor: pointer;
  margin: 0rem 0.4rem;
}
.profile-stat-count {
  font-weight: bold;
}
.profile-bio {
  margin-top: 2rem;
  font-size: 1rem;
}
/* Gallery Section */

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  gap: 10px;
  justify-content: center;
  margin-top: 2rem;
  max-width: 650px;
}

.gallery-item {
  position: relative;
  overflow: hidden;
  width: 200px;
  height: 250px;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-item-info {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 1.2rem;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.gallery-item-info li {
  display: inline;
  margin: 0px 3px;
  list-style: none;
}

.gallery-item:hover .gallery-item-info {
  opacity: 1;
}
.visually-hidden {
  display: none;
}

/* Spinner Animation */
.loader {
  display: block;
  margin: 2rem auto;
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid grey;
  border-right: 5px solid grey;
  border-bottom: 5px solid grey;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 0.5s linear infinite;
  animation: spin 0.5s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
